.login-content {
    background: #56CA96;
    width: 50%;
    padding: 5px;
  }

.login-box {
  background: #509287;
  padding: 20px 20px 0px 20px;
  margin-top: 30px;
  padding: 5px;
}

 .signup-col {
   margin: 0px 16px 0px 16px;
   padding-bottom: 20px;
 }

 .form-group {
   border-bottom-color: #ffffff !important;
   box-shadow: none !important;
   margin: 10px;
   border-radius: 20px;

 }

 .submit-btn {
   background: #51CFB1;
   border-radius: 30px !important;
   border: 1px solid #ffffff;
}
